.bottom_nav {
    display: none;
}

.pop_up {
    display: none;
}

@media screen and (max-width: 880px) {
    .pop_up {
        width: 100%;
        height: 370px;
        position: fixed;
        bottom: 0px;
        left: 0;
        padding: 35px 0px;
        z-index: 80;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        transform: translateY(390px);
        transition: all .8s ease-in-out;
    }
    .pop_up .drop_menu_link {
        width: 100%;
        height: auto;
        color: #fff;
        font-size: clamp(1.1rem, 3vw, 1.7rem);
        cursor: pointer;
    }
    .show_popup {
        transform: translateX(0px);
    }
    .bottom_nav {
        width: 100%;
        height: auto;
        background-color: var(--blue);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 7px 0px;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bottom_link_container {
        width: 100%;
        height: 100%;
        padding: 6px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom_link_container .bottom_links {
        color: #fff;
        list-style: none;
        font-size: clamp(1rem, 3vw, 2rem);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .about_stack {
        position: absolute;
        bottom: 9px;
        left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .arrow_icon {
        margin-left: 10px;
        transition: .6s ease;
    }
    .rotate {
        transform: rotate(180deg);
        transition: .6s ease;
    }
}