.events_container {
    width: 100%;
    height: auto;
    padding: 70px 10px;
    margin: 110px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.events_container span {
    font-size: clamp(2.4rem, 8vw, 7.5rem);
    font-weight: bolder;
    color: #000;
    display: block;
}

.events_container p {
    font-size: clamp(1rem, 3vw, 1.4rem);
    color: var(--gray);
}

.event_box {
    width: 1100px;
    min-width: 300px;
    height: auto;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 15px;
    transition: all .3s ease-in-out;
}

.event_box_msg {
    width: 50%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.event_box_msg .title {
    font-size: clamp(1.9rem, 3vw, 2.5rem);
    font-weight: 400;
    color: #000;
}

.event_box_img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.event_box_img .img {
    width: 100%;
    object-fit: contain;
}

.info_btn {
    padding: 6px 7px;
    font-size: 1.3rem;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease;
}

.info_btn:hover {
    color: var(--white);
    background-color: var(--blue);
}

.events_btn {
    padding: 10px 12px;
    color: var(--text-gray);
    font-size: 1.5rem;
    background-color: var(--white);
    border: 3px solid var(--text-gray);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.events_btn:hover {
    color: var(--white);
    background-color: var(--blue);
}

.loading {
    font-size: 4rem;
    color: #000;
}

@media screen and (max-width:1100px) {
    .events_container {
        margin: 0px auto;
    }
    .events {
        width: 100%;
        min-width: 0px;
    }
    .event_box {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event_box_msg {
        width: 90%;
    }
    .event_box_img {
        width: 100%;
    }
}